# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
Debug/
Release/
x64/
x86/
build/
out/

# C++
*.obj
*.pdb
*.ilk
*.exe

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
*.sln.DotSettings.user

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

# OS
.DS_Store
Thumbs.db
